* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a,
button,
input,
ul,
li {
  text-decoration: none;
  border: none;
  outline: none;
  list-style: none;
}

.container {
  max-width: 1314px;
  padding-left: 17px;
  padding-right: 17px;
  margin: auto;
}

.cards {
  margin-top: 28px;
}

.card--title {
  color: #000;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}

.cards__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 25px;
}

.cards__card {
  padding: 10px;
  width: 181px;
  height: 270px;
  border-radius: 4px;
  background: var(--ui-white, #fff);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.12);
}

.cards__card__bcgImg {
  background: url(../../../img/card-img.png), lightgray 50%/cover no-repeat;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: end;
  margin-bottom: 11px;
}

.cards__card__bcgImg--text {
  border-radius: 8px;
  border: 0.5px solid #ff4343;
  color: #000;
  font-size: 10px;
  font-weight: 500;
  width: 32px;
  height: 16px;
  padding: 2px 3px;
}

.cards__card__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  gap: 2px;
}

.cards__icons__icon {
  cursor: pointer;
  display: none;
}

.cards__card__discount {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 13px;
}

.cards__card__discount--text-1 {
  color: #ff4343;
  font-size: 14px;
  font-weight: 500;
}

.cards__card__star {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cards__card__star__left {
  display: flex;
  align-items: center;
  gap: 4px;
}

.cards__card__star__left--text {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  display: none;
}

.cards__card__star__left--img {
  cursor: pointer;
  display: none;
}

.cards__card__star--text {
  color: #000;
  font-size: 12px;
  display: none;
  font-weight: 400;
}

.cards__card--title {
  display: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.cards__card--text {
  max-width: 162px;
  font-size: 12px;
  font-weight: 300;
  line-height: 124.188%; /* 14.903px */
  margin-bottom: 12px;
}

.cards__card--btn {
  background: var(--ui-liner-button-100, linear-gradient(97deg, #f64d4d -57.09%, #4d5ef6 101.17%));
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 57px;
  width: 180px;
  height: 34px;
  cursor: pointer;
  display: none;
}

.cards--btn {
  padding: 15px 55px;
  border: 1.5px solid #f64d4d;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: 500;
  margin-left: auto;
  display: block;
  cursor: pointer;
}
.cards--btn:hover {
  background-color: #f64d4d;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .cards--btn {
    font-size: 12px;
    padding: 10px 50px;
  }
  .cards {
    margin-top: 32px;
  }
  .card--title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .display-none {
    display: none;
  }
  .cards__card {
    width: 172px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .cards__card__bcgImg {
    width: 160px;
    height: 160px;
  }
  .cards__card__discount--text-1 {
    font-size: 14px;
  }
  .cards__card--text {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .cards__wrap {
    gap: 25px;
    overflow-x: scroll;
  }
  .cards__card {
    width: 180px;
    box-shadow: 0px 4px 40px 0px rgba(241, 240, 240, 0.12);
  }
  .display-none {
    display: block;
  }
  .cards--btn {
    margin: auto;
  }
}
.shops--title {
  color: #000;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 26px;
}

.shops__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.shops__cards__card {
  padding: 25px 19px 37px 19px;
  width: 296px;
  height: 208px;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.12);
}

.shops__cards__card__imgs {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 24px;
}

.shops__cards__card__imgs--img--none {
  display: none;
}

.shops__cards__card__imgs--title {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.shops__cards__card__bottomImgs {
  display: flex;
  align-items: center;
  gap: 8px;
}

.shops__cards__card__bottomImgs--img {
  width: 79.012px;
  height: 80px;
  object-fit: cover;
}

.shops__cards__imgs {
  width: 296px;
  height: 208px;
}

.shops__cards__imgs--img {
  width: 296px;
  height: 208px;
}

.shops__card--btn {
  color: #000;
  padding: 15px 55px;
  border: 1.5px solid #f64d4d;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: 500;
  margin-left: auto;
  display: block;
  cursor: pointer;
}
.shops__card--btn:hover {
  background-color: #f64d4d;
  color: #fff;
}

@media screen and (max-width: 1250px) {
  .shops__cards__card,
  .shops__cards__imgs--img {
    width: 280px;
  }
}
@media screen and (max-width: 1200px) {
  .shops__cards__card,
  .shops__cards__imgs {
    width: 235px;
    height: 165px;
  }
  .shops__cards__imgs--img {
    width: 235px;
    height: 165px;
  }
  .shops--title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .shops__cards__card__imgs--img--none {
    display: block;
  }
  .shops__cards__card__imgs--img--blok {
    display: none;
  }
  .shops__cards__card__imgs--img {
    width: 96px;
    height: 40px;
    object-fit: cover;
  }
  .shops__cards__card__imgs--title {
    font-size: 24px;
  }
  .shop-display-none {
    display: none;
  }
  .shops__cards__card__bottomImgs--img {
    width: 62.729px;
    height: 63.462px;
    object-fit: cover;
  }
  .shops__card--btn {
    font-size: 12px;
    padding: 10px 50px;
  }
}
@media screen and (max-width: 768px) {
  .shops {
    margin-top: 20px;
  }
  .shops__cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .shops--title {
    font-size: 24px;
  }
  .shops__cards__card__imgs--title {
    font-size: 18px;
  }
  .shop-display-none {
    display: block;
  }
  .shops__card--btn {
    margin: auto;
  }
}
@media screen and (max-width: 550px) {
  .shops__cards__card {
    padding: 25px 19px 37px 19px;
    width: 296px;
    height: 208px;
    background: #fff;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.12);
  }
  .shops__cards__card__imgs {
    gap: 13px;
  }
  .shops__cards__card__imgs--img {
    width: 96px;
    height: 40px;
  }
  .shops__cards__card__imgs--title {
    font-size: 24px;
  }
  .shops__cards__card__bottomImgs--img {
    width: 79.012px;
    height: 80px;
    object-fit: cover;
  }
  .shops__cards__imgs {
    width: 296px;
    height: 208px;
  }
  .shops__cards__imgs--img {
    width: 296px;
    height: 208px;
  }
}
.quality_parent {
  margin: 25px 0;
}
.quality_parent h2 {
  color: #000;
  font-size: 28px;
  font-weight: 500;
  line-height: 124.188%;
}
.quality_parent p {
  color: #000;
  font-size: 14px;
  font-weight: 300;
  line-height: 126.188%;
  max-width: 1200px;
  padding: 15px 0;
}
.quality_parent a {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: var(--ui-liner-button-100, linear-gradient(97deg, #F64D4D -57.09%, #4D5EF6 101.17%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 760px) {
  .quality_parent h2 {
    font-size: 24px;
  }
  .quality_parent p {
    padding: 10px 0;
  }
}
@media screen and (max-width: 550px) {
  .quality_parent {
    margin: 25px 0;
  }
  .quality_parent h2 {
    font-size: 20px;
  }
  .quality_parent p {
    padding: 10px 0;
  }
}
.item_section {
  padding: 30px 0 50px;
  background: var(--ui-liner-button-100, linear-gradient(97deg, rgba(246, 77, 77, 0.1725490196) -57.09%, rgba(77, 94, 246, 0.2117647059) 101.17%));
}
.item_section .item_parent h2 {
  color: #000;
  font-size: 28px;
  font-weight: 500;
  line-height: 124.188%; /* 34.773px */
}
.item_section .item_cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 18px;
}
.item_section .item_cards .item_card {
  padding: 36px 14px;
  display: flex;
  align-items: center;
  gap: 22px;
  border-radius: 4px;
  background: var(--ui-white, #FFF);
  /* main shadow */
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
}
.item_section .item_cards .item_card p {
  color: #000;
  font-size: 12px;
  font-weight: 300;
  line-height: 124.188%; /* 14.903px */
  margin-bottom: 14px;
}
.item_section .item_cards .item_card span {
  color: var(--ui-black, #000);
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 1000px) {
  .item_cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
    gap: 12px !important;
  }
  .item_cards .item_card {
    padding: 16px 14px !important;
    gap: 12px !important;
    border-radius: 4px;
    background: var(--ui-white, #FFF);
    /* main shadow */
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .item_cards .item_card:nth-child(5) {
    display: none !important;
  }
  .item_cards .item_card p {
    color: #000;
    font-size: 12px;
    font-weight: 300;
    line-height: 124.188%; /* 14.903px */
    max-width: 110px !important;
    margin-bottom: 9px !important;
  }
  .item_cards .item_card span {
    color: var(--ui-black, #000);
    font-size: 14px;
    font-weight: 600 !important;
  }
}
@media screen and (max-width: 760px) {
  .item_section {
    padding: 20px 0 30px;
  }
  .item_parent h2 {
    font-size: 24px !important;
  }
  .item_cards {
    margin-top: 20px !important;
  }
}
@media screen and (max-width: 650px) {
  .item_cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)) !important;
    gap: 18px;
  }
  .item_cards .item_card {
    padding: 36px 14px;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    gap: 22px;
    border-radius: 4px;
    background: var(--ui-white, #FFF);
    /* main shadow */
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
  }
  .item_cards .item_card p {
    color: #000;
    font-size: 12px;
    font-weight: 300;
    line-height: 124.188%; /* 14.903px */
    margin-bottom: 14px;
    max-width: 150px !important;
  }
  .item_cards .item_card span {
    color: var(--ui-black, #000);
    font-size: 14px;
    font-weight: 500;
  }
}
@media screen and (max-width: 550px) {
  .item_parent {
    margin: 25px 0;
  }
  .item_parent h2 {
    font-size: 20px;
  }
  .item_cards {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }
}
.footer {
  background: var(--ui-liner-button-100, linear-gradient(97deg, #F64D4D -57.09%, #4D5EF6 101.17%));
  padding: 38px 0;
}

.footer_parent {
  display: flex;
  justify-content: space-between;
}
.footer_parent .footer_left {
  display: flex;
  gap: 60px;
}
.footer_parent ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer_parent ul .footer_link {
  color: #FFF;
  font-weight: 300;
  font-size: 16px;
}

.footer_right p {
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
}
.footer_right form {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 14px;
}
.footer_right form input {
  color: #FFF;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  border: 0.7px solid #FFF;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
  background: none;
  padding: 10px 24px;
}
.footer_right form input::placeholder {
  color: #FFF;
}
.footer_right form button {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  border: 0.7px solid #FFF;
  background: #FFF;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
  padding: 9px 20px;
  transition: 0.3s linear;
}
.footer_right form button:hover {
  background: none;
  color: #FFF;
  cursor: pointer;
}
.footer_right .footer_right__bottom h4 {
  color: #FFF;
  font-size: 16px;
  font-weight: 500;
}
.footer_right .footer_right__bottom .social_img {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 20px;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_bottom p {
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
}

@media screen and (max-width: 1000px) {
  .footer_parent {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .footer_left {
    justify-content: space-between;
    gap: 0;
  }
  .footer_right {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 600px) {
  ul {
    gap: 5px;
  }
  ul .footer_link {
    font-size: 12px !important;
  }
  .footer_right p {
    font-size: 12px;
  }
  .footer_right form {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .footer_right form input {
    font-size: 12px;
    padding: 10px 12px;
  }
  .footer_right form button {
    font-size: 12px;
    padding: 9px 16px;
  }
  .footer_right .footer_right__bottom h4 {
    font-size: 12px;
  }
  .footer_right .footer_right__bottom .social_img {
    gap: 12px;
    margin-top: 16px;
  }
}
@media screen and (max-width: 600px) {
  .footer_left {
    display: flex;
    gap: 30px !important;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  ul:nth-child(3) {
    display: none;
  }
  .footer_right {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer_right p {
    font-size: 12px;
  }
  .footer_right form {
    margin: 20px 0;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .footer_right form input {
    font-size: 12px;
    padding: 10px 12px;
  }
  .footer_right form button {
    font-size: 12px;
    padding: 9px 16px;
  }
  .footer_right .footer_right__bottom h4 {
    font-size: 12px;
  }
  .footer_right .footer_right__bottom .social_img {
    gap: 12px;
    margin-top: 16px;
  }
  .footer_bottom img {
    width: 140px;
  }
}

/*# sourceMappingURL=main.css.map */
