.cards {
  margin-top: 28px;
}
.card--title {
  color: #000;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}
.cards__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 25px;
}
.cards__card {
  padding: 10px;
  width: 181px;
  height: 270px;
  border-radius: 4px;
  background: var(--ui-white, #fff);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.12);
  //   &:hover {
  //     // position: absolute;
  //     // top: 20px;
  //     // z-index: 2;
  //     width: 220px;
  //     height: 400px;
  //     border-radius: 4px;
  //     background: var(--ui-white, #fff);
  //     box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.35);
  //     transition: all 0.5s;
  //     padding-left: 20px;
  //     padding-right: 20px;
  //     padding-bottom: 24px;
  //     .cards__card__bcgImg {
  //       width: 180px;
  //       height: 180px;
  //     }
  //     .cards__icons__icon {
  //       display: block;
  //     }
  //     .cards__card__star {
  //       margin-bottom: 11px;
  //     }
  //     .cards__card__star--text,
  //     .cards__card__star__left--img,
  //     .cards__card__star__left--text,
  //     .cards__card--title,
  //     .cards__card--btn {
  //       display: block;
  //     }
  //   }
}
.cards__card__bcgImg {
  background: url(../../../img/card-img.png), lightgray 50% / cover no-repeat;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: end;
  margin-bottom: 11px;
}
.cards__card__bcgImg--text {
  border-radius: 8px;
  border: 0.5px solid #ff4343;
  color: #000;
  font-size: 10px;
  font-weight: 500;
  width: 32px;
  height: 16px;
  padding: 2px 3px;
}
.cards__card__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  gap: 2px;
}
.cards__icons__icon {
  cursor: pointer;
  display: none;
}
.cards__card__discount {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 13px;
}
.cards__card__discount--text-1 {
  color: #ff4343;
  font-size: 14px;
  font-weight: 500;
}
.cards__card__star {
  display: flex;
  align-items: center;
  gap: 8px;
}
.cards__card__star__left {
  display: flex;
  align-items: center;
  gap: 4px;
}
.cards__card__star__left--text {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  display: none;
}
.cards__card__star__left--img {
  cursor: pointer;
  display: none;
}
.cards__card__star--text {
  color: #000;
  font-size: 12px;
  display: none;

  font-weight: 400;
}
.cards__card--title {
  display: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.cards__card--text {
  max-width: 162px;
  font-size: 12px;
  font-weight: 300;
  line-height: 124.188%; /* 14.903px */
  margin-bottom: 12px;
}
.cards__card--btn {
  background: var(--ui-liner-button-100, linear-gradient(97deg, #f64d4d -57.09%, #4d5ef6 101.17%));
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 57px;
  width: 180px;
  height: 34px;
  cursor: pointer;
  display: none;
}
.cards--btn {
  padding: 15px 55px;
  border: 1.5px solid #f64d4d;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: 500;
  margin-left: auto;
  display: block;
  cursor: pointer;
  &:hover {
    background-color: #f64d4d;
    color: #fff;
  }
}
@media screen and (max-width: 1200px) {
   .cards--btn{
    font-size: 12px;
    padding: 10px 50px;
   } 
  .cards {
    margin-top: 32px;
  }
  .card--title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .display-none {
    display: none;
  }
  .cards__card {
    width: 172px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .cards__card__bcgImg {
    width: 160px;
    height: 160px;
  }
  .cards__card__discount--text-1 {
    font-size: 14px;
  }
  .cards__card--text {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .cards__wrap {
    gap: 25px;
    overflow-x: scroll;
  }
  .cards__card {
    width: 180px;
    box-shadow: 0px 4px 40px 0px rgba(241, 240, 240, 0.12);
  }
  .display-none {
    display: block;
  }
  .cards--btn{
    margin: auto;
   }
}
