.footer{
    background: var(--ui-liner-button-100, linear-gradient(97deg, #F64D4D -57.09%, #4D5EF6 101.17%));
    padding: 38px 0;
}
.footer_parent{
    display: flex;
    justify-content: space-between;
    .footer_left{
        display: flex;
        gap: 60px;
        
    }
    ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
        .footer_link{
            color: #FFF;
            font-weight: 300;
            font-size: 16px;
        }
    }
}
.footer_right{
    p{
        color: #FFF;
        font-size: 14px;
        font-weight: 400;
    }
    form{
        margin: 20px 0;
        display: flex;
        align-items: center;
        gap: 14px;
        input{
            color: #FFF;
            font-size: 14px;
            font-style: italic;
            font-weight: 300;
            border: 0.7px solid #FFF;
            box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
            background: none;
            padding: 10px 24px;
            &::placeholder{
                color: #FFF;
            }
        }
        button{
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            
            border: 0.7px solid #FFF;
            background: #FFF;
            box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
            padding: 9px 20px;
            transition: .3s linear;
            &:hover{
                background: none;
                color: #FFF;
                cursor: pointer;
            }
            
        }
    }
    .footer_right__bottom{
        h4{
            color: #FFF;
            font-size: 16px;
            font-weight: 500;
        }
        .social_img{
            display: flex;
            align-items: center;
            gap: 32px;
            margin-top: 20px;
        }
    }
}
.footer_bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        color: #FFF;
        font-size: 12px;
        font-weight: 400;
    }
}

@media screen and (max-width:1000px){
    
    .footer_parent{
        display: flex;
        flex-direction: column;
        gap: 40px;
        
    }
    .footer_left{
        justify-content: space-between;
        gap: 0;
    }
    .footer_right{
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (max-width:600px){
    ul{
        gap: 5px;
        .footer_link{
            font-size: 12px !important;
        }
    }
    .footer_right{
        p{
            font-size: 12px;
        }
        form{
            margin: 20px 0;
            display: flex;
            align-items: center;
            gap: 8px;
            input{
                font-size: 12px;
                padding: 10px 12px;
            }
            button{
                font-size: 12px;
                padding: 9px 16px;
                
            }
        }
        .footer_right__bottom{
            h4{
                font-size: 12px;
            }
            .social_img{
                gap: 12px;
                margin-top: 16px;
            }
        }
    }
}
@media screen and (max-width:600px){
    .footer_left{
        display: flex;
        gap: 30px !important;
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }
    ul{
        &:nth-child(3){
            display: none;
        }
    }
    .footer_right{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        p{
            font-size: 12px;
        }
        form{
            margin: 20px 0;
            display: flex;
            align-items: center;
            gap: 8px;
            input{
                font-size: 12px;
                padding: 10px 12px;
            }
            button{
                font-size: 12px;
                padding: 9px 16px;
                
            }
        }
        .footer_right__bottom{
            h4{
                font-size: 12px;
            }
            .social_img{
                gap: 12px;
                margin-top: 16px;
            }
        }
    }
    .footer_bottom{
        img{
            width: 140px;
        }
    }
}