.item_section{
    padding: 30px 0 50px;
    
    background: var(--ui-liner-button-100, linear-gradient(97deg, #f64d4d2c -57.09%, #4d5ef636 101.17%));
    .item_parent{
        h2{
            color: #000;
            font-size: 28px;
            font-weight: 500;
            line-height: 124.188%; /* 34.773px */
        }
    }
    .item_cards{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 18px;
        .item_card{
            padding: 36px 14px;
            display: flex;
            align-items: center;
            gap: 22px;
            border-radius: 4px;
            background: var(--ui-white, #FFF);

            /* main shadow */
            box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
            p{
                color: #000;
                font-size: 12px;
                font-weight: 300;
                line-height: 124.188%; /* 14.903px */
                // max-width: 83px;
                margin-bottom: 14px;
            }
            span{
                color: var(--ui-black, #000);
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    
}

@media screen and (max-width:1000px){
    .item_cards{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
        gap: 12px !important;
        .item_card{
            padding: 16px 14px !important;
            gap: 12px !important;
            border-radius: 4px;
            background: var(--ui-white, #FFF);

            /* main shadow */
            box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            &:nth-child(5){
                display: none !important;
            }
            p{
                color: #000;
                font-size: 12px;
                font-weight: 300;
                line-height: 124.188%; /* 14.903px */
                max-width: 110px !important;
                margin-bottom: 9px !important;
            }
            span{
                color: var(--ui-black, #000);
                font-size: 14px;
                font-weight: 600 !important;
            }
        }
    }
    
}

@media screen and (max-width:760px){
    .item_section{
        padding: 20px 0 30px;
    }
    
    .item_parent{
        
        h2{
            font-size: 24px !important;
        }
    }
    .item_cards{
        margin-top: 20px !important;
    }
    
}
@media screen and (max-width:650px){
    .item_cards{
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)) !important;
        gap: 18px;
        .item_card{
            padding: 36px 14px;
            display: flex !important;
            flex-direction: row;
            align-items: center;
            gap: 22px;
            border-radius: 4px;
            background: var(--ui-white, #FFF);

            /* main shadow */
            box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
            p{
                color: #000;
                font-size: 12px;
                font-weight: 300;
                line-height: 124.188%; /* 14.903px */
                // max-width: 83px;
                margin-bottom: 14px;
                max-width: 150px !important;
            }
            span{
                color: var(--ui-black, #000);
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
    
}
@media screen and (max-width:550px){
    .item_parent{
        margin: 25px 0;
        
        h2{
            font-size: 20px;
        }
    }
    .item_cards{
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
    
    
}