.quality_parent{
    margin: 25px 0;
    
    h2{
        color: #000;
        font-size: 28px;
        font-weight: 500;
        line-height: 124.188%;
    }
    p{
        color: #000;
        font-size: 14px;
        font-weight: 300;
        line-height: 126.188%; 
        max-width: 1200px;
        padding: 15px 0;
    }
    a{
        
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background: var(--ui-liner-button-100, linear-gradient(97deg, #F64D4D -57.09%, #4D5EF6 101.17%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
@media screen and (max-width:760px){
    .quality_parent{
        
        h2{
            font-size: 24px;
        }
        p{
            padding: 10px 0;
        }
    }
    
}
@media screen and (max-width:550px){
    .quality_parent{
        margin: 25px 0;
        
        h2{
            font-size: 20px;
        }
        p{
            padding: 10px 0;
        }
    }
    
}