.shops--title {
  color: #000;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 26px;
}
.shops__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.shops__cards__card {
  padding: 25px 19px 37px 19px;
  width: 296px;
  height: 208px;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.12);
}
.shops__cards__card__imgs {
  display: flex;
  align-items: center;
  gap: 13px;
  margin-bottom: 24px;
}
.shops__cards__card__imgs--img--none {
  display: none;
}
.shops__cards__card__imgs--title {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.shops__cards__card__bottomImgs {
  display: flex;
  align-items: center;
  gap: 8px;
}
.shops__cards__card__bottomImgs--img {
  width: 79.012px;
  height: 80px;
  object-fit: cover;
}
.shops__cards__imgs {
  width: 296px;
  height: 208px;
}
.shops__cards__imgs--img {
  width: 296px;
  height: 208px;
}
.shops__card--btn {
    color: #000;    
  padding: 15px 55px;
  border: 1.5px solid #f64d4d;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.12);
  font-size: 14px;
  font-weight: 500;
  margin-left: auto;
  display: block;
  cursor: pointer;
  &:hover {
    background-color: #f64d4d;
    color: #fff;
  }
}
@media screen and (max-width: 1250px) {
  .shops__cards__card,
  .shops__cards__imgs--img {
    width: 280px;
  }
}
@media screen and (max-width: 1200px) {
  .shops__cards__card,
  .shops__cards__imgs {
    width: 235px;
    height: 165px;
  }
  .shops__cards__imgs--img {
    width: 235px;
    height: 165px;
  }
  .shops--title {
    font-size: 24px;
    margin-bottom: 16px;
  }
  .shops__cards__card__imgs--img--none {
    display: block;
  }
  .shops__cards__card__imgs--img--blok {
    display: none;
  }
  .shops__cards__card__imgs--img {
    width: 96px;
    height: 40px;
    object-fit: cover;
  }
  .shops__cards__card__imgs--title {
    font-size: 24px;
  }
  .shop-display-none {
    display: none;
  }
  .shops__cards__card__bottomImgs--img {
    width: 62.729px;
    height: 63.462px;
    object-fit: cover;
  }
  .shops__card--btn {
    font-size: 12px;
    padding: 10px 50px;
  }
}
@media screen and (max-width: 768px) {
    .shops{
        margin-top: 20px;
    }
  .shops__cards {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
.shops--title{
    font-size: 24px;
}
  .shops__cards__card__imgs--title {
    font-size: 18px;
  }
  .shop-display-none {
    display: block;
  }
  .shops__card--btn {
    margin: auto;
  }
}
@media screen and (max-width: 550px){
    .shops__cards__card {
        padding: 25px 19px 37px 19px;
        width: 296px;
        height: 208px;
        background: #fff;
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.12);
      }
      .shops__cards__card__imgs {
        gap: 13px;
      }
      .shops__cards__card__imgs--img {
          width: 96px;
          height: 40px;
      }
      .shops__cards__card__imgs--title {
        font-size: 24px;
      }
      .shops__cards__card__bottomImgs--img {
        width: 79.012px;
        height: 80px;
        object-fit: cover;
      }
      .shops__cards__imgs {
        width: 296px;
        height: 208px;
      }
      .shops__cards__imgs--img {
        width: 296px;
        height: 208px;
      } 
}