* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a,
button,
input,
ul,
li {
  text-decoration: none;
  border: none;
  outline: none;
  list-style: none;
}
.container{
    max-width: 1314px;
    padding-left: 17px;
    padding-right: 17px;
    margin: auto;
}